# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
*.sqlite

# Node
node_modules/
npm-debug.log
yarn-error.log

# Capacitor
.capacitor/
dist/
# android/ - НЕ игнорируем, нужны файлы для сборки
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
ios/

# Android
*.apk
*.aab
*.keystore
android/app/build/
android/.gradle/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


